#listed{
	display:flex;
	flex-direction:column;
}
.notification{
	//display:grid;
	//grid-template-columns:auto auto;
	border:0.5px solid black;

}
.oneline{
	display:grid;
	grid-template-columns:auto auto;
	p{
	border:0.5px solid green;
	
	}
	
}
.time{
	display:block;
}
